:root
  --main-color $lightMainColor
  --regular-text $lightRegularText
  --secondary-text $lightSecondaryText
  --primary-text $lightPrimaryText
  --bg-color $lightbgColor
  --card-color $lightCard
  --border-color $lightBorder
  --box-shadow $lightShadow
  @media (prefers-color-scheme: dark)
    --main-color $darkMainColor
    --regular-text $darkRegularText
    --secondary-text $darkSecondaryText
    --primary-text $darkPrimaryText
    --bg-color $darkbgColor
    --card-color $darkCard
    --border-color $darkBorder
    --box-shadow $darkShadow