$lightMainColor = #d71a1b
$lightRegularText = #4c4e4d
$lightSecondaryText = #8e8787
$lightPrimaryText = #292525
$lightBgColor = #f4f4f4
$lightCard = #ffffff
$lightBorder = #e5e5e5
$lightShadow = rgba(34, 36, 38, 0.15)

$darkMainColor = #f94135
$darkRegularText = #b8b8b8
$darkSecondaryText = #7f7f7f
$darkPrimaryText = #ffffff
$darkbgColor = #171514
$darkCard = #232222
$darkBorder = #373737
$darkShadow = rgba(34, 36, 38, 0.15)

$darkNavColor = #232222
$codeBgColor = #171a20
$sspaiRed = $accentColor
$accentColor = var(--main-color)
