// 默认值
// $accentColor = #d71a1b
// $lightMainColor = #d71a1b
// $lightRegularText = #4c4e4d
// $lightSecondaryText = #8e8787
// $lightPrimaryText = #292525
// $lightBg = #f4f4f4
// $lightCard = #ffffff
// $lightBorder = #e5e5e5
// $lightShadow = rgba(34, 36, 38, 0.15)

// 默认值
$lightMainColor = #f94135
$lightRegularText = #b8b8b8
$lightSecondaryText = #7f7f7f
$lightPrimaryText = #ffffff
$lightBg = #171514  
$lightCard = #232222
$lightBorder = #373737

$lightShadow = rgba(34, 36, 38, 0.15)

$darkNavColor = #232222
$codeBgColor = #171a20
$borderColor = $lightBorder
$sspaiRed = $accentColor
$accentColor = $lightMainColor

// $darkMainColor = 
// $darkPrimaryText = 
// $darkRegularText = 
// $darkSecondaryText = 
// $darkBorder = 
// $darkBoundary = 
// $darkBg = 
// $darkCard = 